* {
  user-select:none;
}
body {
  color:white;
}
#canvas {
  background:#22a34b;
}
#map {
  position:absolute;
  right:20px;
  bottom:20px;
  z-index:100;
  background:rgba(0,0,0, 0.7);
}
#sidebar {
  position:absolute;
  float:left;
  text-align:left;
}
#message {
  font-size:30px;
  opacity:0;
  transition:0.5s;
  text-align:center;
  margin:0;
  padding:0;
  position:absolute;
  width:30%;
  left:35%;
}
#message2 {
  right:0;
  position:absolute;
  opacity:0;
  transition:0.3s;
}
#chatbox {
  display:none;
  position:absolute;
  width:30%;
  left:35%;
  border:3px solid black;
  border-radius:5px;
  top:30%;
  text-align:center;
}
#messages {
  height:90%;
  width:90%;
  overflow:auto;
  height:150px;
  margin:0 auto;
}
input {
  height:23px;
}
input:focus {
  outline:none;
}
#send {
  width:75px;
}
.modal-content {
  color:black;
}