* {
  user-select:none;
}
body {
  color:white;
}
#canvas {
  background-image:url(/img/block.png);
  background-size:75px 75px;
}
#players {
  position:absolute;
  float:left;
  text-align:left;
}
#message {
  font-size:30px;
  opacity:0;
  transition:3s;
  text-align:center;
  margin:0;
  padding:0;
  position:absolute;
  width:30%;
  left:35%;
}