@import url(https://fonts.googleapis.com/css2?family=Orbitron&display=swap);

body {
  margin:0;
  padding:0;
  overflow:hidden;
  font-family: 'Orbitron';
  line-height:200%;
  text-align:center;
}
main {
  width:100vw;
  height:100vh;
  overflow:auto;
}
button {
  height:30px;
  width:150px;
  border:1px solid black;
  cursor:pointer;
  border-radius:5px;
  background:#e6e8eb;
}
button:hover {
  background:#dadde0;
}
#rooms {
  height:300px;
  width:400px;
  overflow:auto;
  margin:0 auto;
}
#no-room-message {
  display:none;
}
a {
  display:block;
  text-decoration:none;
  color:blue;
}
a:hover {
  text-decoration:underline;
}
#howtoplay-link {
  display:inline-block;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background:white; 
}
::-webkit-scrollbar-thumb {
  background: lightgray; 
}
::-webkit-scrollbar-thumb:hover {
  background: darkgray; 
}